.python .function{
    color:rgb(250, 72, 72);
}

.python .parentesis{
    color:rgb(255, 209, 6)
}

.python .self{
    color:orange;
}

.python .name{
    color:rgb(143, 242, 22);
}

.python .string{
    color:rgb(84, 249, 191);
}